logging:
  level:
    se:
      sundsvall:
        dept44:
          payload: OFF

spring:
  main:
    banner-mode: off
  flyway:
    enabled: true
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6:///
